.attendance-page {
  height: calc(100% - 60px);
  padding: 42px;
  /* display: flex;
  align-items: center;
  align-content: center;
  justify-content: center; */
  /* flex-wrap: wrap; */
}

/* .attendance-page .message {
  flex: 1 1 100%;
  text-align: center;
  font-size: 52px;
} */
