.navbar {
  width: 100%;
  box-sizing: border-box;
  flex: 1 1 auto;
  background: #582c83;
  height: 60px;
  display: flex;
  align-items: center;
  color: #ececec;
  padding: 0px 42px;
}

.logo {
  font-size: 23px;
  margin-right: 32px;
  position: relative;
  top: -2px;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
}

.links {
  width: 100%;
}

.links a {
  margin-left: 42px;
  color: inherit;
  text-decoration: none;
}

.links i {
  position: relative;
  top: 4px;
  margin-right: 8px;
  font-size: 18px;
}

.links a:hover {
  text-decoration: underline;
}

a.presentation {
  float: right;
  background: rgb(127, 67, 186);
  padding: 6px 12px;
  border-radius: 4px;
  color: inherit;
  text-decoration: none;
}

a.presentation:hover {
  text-decoration: none;
}
