html, body {
  margin: 0px;
  padding: 0px;
  height: 100%;
}

#root, .App {
  height: 100%;
}

* {
  outline: none;
  box-sizing: border-box;
}

.loading {
  position: absolute;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.8;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
}

button {
  background: #582c83;
  border: none;
  color: #ececec;
  padding: 8px 18px;
  cursor: pointer;
  font-size: 22px;
  border-radius: 4px;
  margin-top: 28px;
}

.col {
  flex: 1 1 50%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.row {
  display: flex;
  flex: 1 1 100%;
}

.row-item {
  margin: 12px 0px;
}